name: publish

on:
  release:
    types:
      - published

jobs:
  pre-commit:
    uses: coatl-dev/workflows/.github/workflows/pre-commit.yml@v4
    with:
      skip-hooks: 'pylint'

  pylint:
    needs: pre-commit
    uses: coatl-dev/workflows/.github/workflows/pylint.yml@v4

  jython:
    needs: pylint
    uses: ./.github/workflows/jython.yml

  tox:
    needs: jython
    uses: coatl-dev/workflows/.github/workflows/tox-docker.yml@v4

  pypi-publish:
    needs: tox
    uses: coatl-dev/workflows/.github/workflows/pypi-upload.yml@v4
    with:
      python-version: '2.7'
      {%- if registry_url != 'https://upload.pypi.org/legacy/' %}
      url: '{{ registry_url }}'
      {%- endif %}
      {%- if registry_username != '__token__' %}
      username: '{{ registry_username }}'
      {%- endif %}
    secrets:
      password: ${% raw %}{{ secrets.SECRET_TOKEN_OR_PASSWORD }}{% endraw %}
