name: publish

on:
  release:
    types:
      - published

jobs:
  tox:
    uses: coatl-dev/workflows/.github/workflows/tox.yml@v5

  pypi-publish:
    needs: tox
    uses: coatl-dev/workflows/.github/workflows/pypi-upload.yml@v5
    {%- if registry_url != 'https://upload.pypi.org/legacy/' or registry_username != '__token__' %}
    with:
      {%- if registry_url != 'https://upload.pypi.org/legacy/' %}
      url: '{{ registry_url }}'
      {%- endif %}
      {%- if registry_username != '__token__' %}
      username: '{{ registry_username }}'
      {%- endif %}
    {%- endif %}
    secrets:
      password: ${% raw %}{{ secrets.SECRET_TOKEN_OR_PASSWORD }}{% endraw %}
