# {{ project_name }}

[![ci](https://github.com/{{ github_org }}/{{ github_repo }}/actions/workflows/ci.yml/badge.svg)](https://github.com/{{ github_org }}/{{ github_repo }}/actions/workflows/ci.yml)

{{ project_description }}

## Prerequisites

Before you begin, ensure you have met the following requirements:

- You are familiar with [Ignition 8.1 System Functions]
- You have installed [Python 2.7.18]

## Installation and usage

<!--
Add your instructions here.
-->

<!-- Links -->
[Ignition 8.1 System Functions]: https://docs.inductiveautomation.com/docs/8.1/appendix/scripting-functions
[Python 2.7.18]: https://www.python.org/downloads/release/python-2718/
