[flake8]
ignore = F821, W503
max-complexity = 10
max-doc-length = 72
max-line-length = 88
# pydoclint
style = google
arg-type-hints-in-signature = False
arg-type-hints-in-docstring = False
check-return-types = False
