repos:
  - repo: https://github.com/aio-libs/sort-all
    rev: v1.3.0
    hooks:
      - id: sort-all
        files: ^ignition/script-python/
  - repo: https://github.com/bwhmather/ssort
    rev: 0.15.0
    hooks:
      - id: ssort
        files: ^ignition/script-python/
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff-format
        files: ^ignition/script-python/
  - repo: https://github.com/hakancelikdev/unimport
    rev: 1.3.0
    hooks:
      - id: unimport
        files: ^ignition/script-python/
        language_version: python3.12
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/docformatter
    rev: v1.7.7
    hooks:
      - id: docformatter
        args: [--in-place, --close-quotes-on-newline, --wrap-summaries=72]
  - repo: https://github.com/coatl-dev/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        files: ^ignition/script-python/
        additional_dependencies: [pydoclint]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^ignition/script-python/
        types: [python]
