# {{ project_name }}

[![ci](https://github.com/{{ github_org }}/{{ github_repo }}/actions/workflows/ci.yml/badge.svg)](https://github.com/{{ github_org }}/{{ github_repo }}/actions/workflows/ci.yml)

{{ project_description }}

## Installation and usage

<!--
Add your instructions here.
-->
